<section id="formation" class="container-fluid">
  <div class="t2">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAH6SURBVEhL7ZW9LwRBGMZXQYGEKIVWcQm7e74Kta+CSiF6lUQlUUlEhEbpIxKFRKJQiXCzS6HToNFpxB+AEAWJeMezc+9e7nbn9m7PrsqTPLndmXfe3zNz2V3jX1VLyjq++huZl7LVFnLZdujFEnRtuzSRaggfaAn5ajtSFtty6DbxAFHAoBMJEAcYdE0BfgMMWgUQNBkZIElg0NoAaQKDLgmAx+JeV5SmEWDBwG73dZNpGdA3bHZMHXfWpUEcQU5XmJQ9IF44qxmH2hS0WCqAQ2e6hbU6EhhUEgF0wKygUdOhWb4tr1oClNuh5dKUqhG0zUNh9d7I+u4cdfCtgZQDlQLogD1n1MWXBuZnVG0k+EK2APSJ4s1KAcodKcavUHvKQ3HAfvNwACtH/Rg/hFf0wMLa34ALTUIBfJkujZQCC2uSAPtGAEG7do6mscM5PdA3HXPL6sCe0Pwp3CiuaY3bxQLPhxvFsKBn+5zauV31YE+AL8FfoaaVLOgBf0OW2yj5YPzu8FC0UGjiyA4R4CMECBi1j6hdzFzKZl6u1ONSE+buVA0+v15Pnqqs3hPZiLfPuNcY3sLiA/zuYXcb3mvQdKXFpSGhdrgkpKB1nkpX3n+NkN8FMJ4Inkpf+RNSu33IHMkGHk5ffQ51AvrufSx46O+EN9xQ/sowfgAnGRiCZVd0OQAAAABJRU5ErkJggg==">
    Formations
  </div>
  <div class="container">
    <div class="row">
      
      <table class="table col-xs-12 col-sm-12 col-md-12 shadow p-3 mb-5 rounded" >
        <tbody>
          <tr>
            <td>
              <div class="t3">HAUTE ECOLE DE LOUVAIN EN HAINAUT</div>
              <div class="t5">2012-2015 INFORMATIQUE DE GESTION</div>
            </td>
            <td class="t4">MONS, BELGIQUE</td>
          </tr>
          
          <tr>
            <td>
              <div class="t3">UNIVERSITE CATHOLIQUE DE LOUVAIN</div>
              <div class="t5">2010-2012 SCIENCES DE GESTION</div>
            </td>
            <td class="t4">MONS, BELGIQUE</td>
          </tr>

          <tr>
            <td>
              <div class="t3">KITTANNING HIGH SCHOOL</div>
              <div class="t5">2010 SEJOUR LINGUISTIQUE</div>
            </td>
            <td class="t4">KITTANNING, USA (PA)</td>
          </tr>

          <tr>
            <td>
              <div class="t3">INSTITUUT JEROEN BOSCH</div>
              <div class="t5">2009 COURS DE LANGUE NEERLANDAISE</div>
            </td>
            <td class="t4">VUGHT, PAYS-BAS</td>
          </tr>

        </tbody>
     </table>
    </div>
  </div>
</section>
  