<section id="experience" class="container-fluid">
  <div class="t2">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAInSURBVEhL7Zc9SBxBFMfXD4IIdmIlmk4QvNu9MyBpksJG0lj4UdqoXUKKNDZqoynzUSSFaSzSHAgiYWfODxREbARRjCmCgcTCQj0sRI3Fe/nv5B1ccqOc3I4g+Ic/uzPz7v3m7ewOc16p6s1wVVJzdyrLwzb7mh5LaLxC4o/woa94w+ZA0wXcL+HxKVD0w89SjzSLBOhbxExLMz75in4mFT2TZpEAfQ1/lmZpSmoasj2+QqOi34B/t40ZazoA+Ng6lrem9VRIHYI1s90MNPNtGJN/L1jz4mzbgpxY0QfB3oMd+46C6QJv5wv4jX38GpcDRvyi+SFzBeCXtpgrHUfFZpu0jl/jQjASTCARdiXac2lwdlKK+gSLLVPxQ7l1KyxN8IWapfX3UWMvPcGMck6t6LTMNS7DrsFY02+o8l3RmCswco3iwNCVyFKDya240w/pEfrPTIwLMKo8T2bZl7T/CNUvmBhNM94YV5rOWMA4BKQXuMkktOjJMlcDPgXvt2b4gemMr2LuNAltij4lTV/h59ITrQMt2RLdyIooEVIgKa1CgauB4nFpel5bSI2AD9rOy6UY0DVUksNG9FRSFik9x/XR+kZxuK+V7vLUMkt1USXm5boCjsnhXEfLwTy1S1d8Algh+SdU9ioIKRH9+0hpeonPawBjl22KWiQ0XgE6CcAu1nwF1yNMQOO6h+s6rr+iiUioOwE0AuBWfiO5VeHbrZHb/+R5fwBGVF/YDrh1IgAAAABJRU5ErkJggg==">
    Expériences
  </div>
  <div class="container">
      <div class="row">
          <div class="carte student shadow p-3 mb-5 rounded">
            <div class="tcarte">
              Job étudiant
            </div>
            <div class="t3">
              Animateur, Camps de vavances
            </div>
            <div class="t4">
              Estinnes, Belgique
            </div>
            <div class="t5">
              2008, 2009
            </div>
          </div>
          <div class="carte student shadow p-3 mb-5 rounded">
            <div class="tcarte">
              Job étudiant
            </div>
            <div class="t3">
              Barman
            </div>
            <div class="t4">
              SHAPE, Belgique
            </div>
            <div class="t5">
              2010, 2011, 2012, 2013
            </div>
          </div>
          <div class="carte student shadow p-3 mb-5 rounded">
            <div class="tcarte">
              Job étudiant
            </div>
            <div class="t3">
              Développeur WinDev
            </div>
            <div class="t4">
              BIVTeam, Tamines, Belgique
            </div>
            <div class="t5">
              2015
            </div>
          </div>
        </div>

        <div class="row">
          <div class="carte stage shadow p-3 mb-5 rounded">
            <div class="tcarte">
              Stage
            </div>
            <div class="t3">
              Développeur Scriptcase
            </div>
            <div class="t3-5">
              Développement d'un programme de gestion d'un helpdesk. Gestion de tickets de prestations pour un client, de contrats clients et de fiches clients avec l'utilsation d'une base de données MySQL
            </div>
            <div class="t4">
              Uniwan.be, Pont-a-Celles, Belgique
            </div>
            <div class="t5">
              Février 2015 - Mai 2015
            </div>
          </div>
        </div>

        <div class="row">
            <div class="carte job shadow p-3 mb-5 rounded">
              <div class="tcarte">
                Emploi
              </div>
              <div class="t3">
                Analyst Developer
              </div>
              <div class="t3-5">
                Développement d'une application de gestion de paiements de clients
              </div>
              <div class="t4">
                BIVTeam, Tamines, Belgique
              </div>
              <div class="t5">
                2015 - Présent
              </div>
            </div>
          </div>
  </div>
</section> 